body {
    background: url("../image/fondo.jpg") no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    background-color: rgb(175, 192, 196);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.subtitulo {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.btn-login {
    background-color: rgb(152, 163, 165);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn-login:hover {
    background-color: rgb(103, 116, 119);
}
.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #666;
    position: relative;
}

.divider::before, .divider::after {
    content: "";
    width: 40%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.social-login {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.google-btn {
    background: #db4437;
    color: white;
    width: 300px;
}

.apple-btn {
    background: #000;
    color: white;
    width: 300px;
}

.facebook-btn {
    background: #1877f2;
    color: white;
    width: 300px;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
}

.terms a {
    color: #007BFF;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.link {
    color: #007BFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

